@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body,
html {
  background: wheat;
  height: 100%;
  font-family: "Roboto", sans-serif;
}
.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 720px;
  width: 720px;
  /* border: 1px solid black; */
}

.grid {
  height: 45px;
  width: 45px;
  outline-style: inset;
  outline-width: 2px;
  outline-color: black;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
button {
  font-size: larger;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Roboto", sans-serif;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
