body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  background: wheat;
  height: 100%;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 640px;
  width: 640px;
  border: 1px solid black;
}

.grid {
  height: 40px;
  width: 40px;
  outline-style: inset;
  outline-width: 2px;
  outline-color: black;
}
